*{
    margin: 0;
    padding: 0;
}
.div{
    background-color: #F7ECDE;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading{
    color: #E9C597;
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.oneinr{
    width: 590px;
    height: 470px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #54BAB9;

    border-radius: 10px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.toinr{
    width: 350px;
    height: 515px;
    text-align: center;
    
    background-color: #54BAB9;

    border-radius: 10px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.head{
    font-size: 1.2rem;
    color: white;
}
.convert{
    height:fit-content;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.cur, .revcur{
    color: azure;
    background-color :rgb(26, 22, 63);
    border-radius: 10px;
    padding: 10px;
}
.inputFeature{
    width: 590px;
    height: 80px;
    border-radius: 10px;
    background-color: #54BAB9;
}

.container{
    display: flex;
    width: 912px;
    height: 520px;
    background-color: rgb(238, 173, 173);
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.fstflex{
    width: 650px;
    height: 514px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.usd{
    background-color: #4CAF50;
}
.usd{
    background-color: #FF5252;
}
.usd{
    background-color: #FFC107;
}
.usd{
    background-color: #9C27B0;
}
.usd{
    background-color: #25A7B8;
}
